#logo{
    background-color:rgb(223, 223, 223);
    height: 100;
}
#logo img{
    width: 300;
    position: relative; top: -30px;
    
}
#navi1 ul {
    background-color:rgba(212, 205, 205, 0.973);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


#navi1 li {
    margin: 0;
    padding: 10;
}


#navi1 a {
    font-size: 20px;
    text-decoration: none;
    color: #050505;
    padding: 10px 20px;
}


#navi1 a:hover {
    background-color: #333;
    color: #fff;
}

#content{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#details {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px; /* This sets the height of the section to fill the viewport height. */
}

#semester{
    position: relative; top: 10px;
    width: 200px;
    padding: 10px;
    border: 2px solid #968d8d;
    border-radius: 10px;
}

#semester select  {
    width: 100% ;
    padding: 8px;
    border: none;
    background-color: #fff;
    border-radius: 0;
    appearance: none; /* Remove default styles on some browsers */
    cursor: pointer;
}

#semester select:focus {
    outline: none; /* Remove the default focus outline */
}